*
  -webkit-box-sizing: border-box
  -moz-box-sizing:    border-box
  box-sizing:         border-box

img
  display: block
  width: 100%

a
  text-decoration: none
  color: $color7
  &:visited
    color: $lighter2-color7

body
  font-family: $primary-font-family
  font-size: $font-size
  color: $color7
  background-color: $body-color

h1,h2,h3,h4
  font-family: $heading-font-family

h5,h6
  font-family: $secondary-heading-font-family

h1
  font-size: $heading-1

h2
  font-size: $heading-2

h3
  font-size: $heading-3

h4
  font-size: $heading-4

h5
  font-size: $heading-5

h6
  font-size: $heading-6
