//Color palette
//-----------------------
$color1: #FFFFFF         !default; // white
$color2: #FFFFE6         !default; // ivory
$color3: #C65F00         !default; // Medium Brown
$color4: #793A00         !default; // Deep Brown
$color5: #22AD2E         !default; // Deep Green
$color6: #C80005         !default; // Red

// Derivative colors
// -------------------------
$darker-color1:           darken($color1, 10%) !default;
$darker2-color1:          darken($color1, 40%) !default;

$darker-color2:           darken($color2, 10%) !default;
$darker2-color2:          darken($color2, 25%) !default;

$darker-color3:           darken($color3, 10%) !default;
$darker2-color3:          darken($color3, 25%) !default;

$darker-color4:           darken($color4, 10%) !default;
$darker2-color4:          darken($color4, 25%) !default;

$darker-color5:           darken($color5, 10%) !default;
$darker2-color5:          darken($color5, 25%) !default;

$darker-color6:           darken($color6, 10%) !default;
$darker2-color6:          darken($color6, 25%) !default;

$lighter-color3:          lighten($color3, 10%) !default;
$lighter2-color3:         lighten($color3, 25%) !default;

$lighter-color4:          lighten($color4, 10%) !default;
$lighter2-color4:         lighten($color4, 25%) !default;

$lighter-color5:          lighten($color5, 10%) !default;
$lighter2-color5:         lighten($color5, 25%) !default;

$lighter-color6:          lighten($color6, 10%) !default;
$lighter2-color6:         lighten($color6, 25%) !default;

// Color Use Configuration
//----------------------------
$accept-color: $lighter2-color5   !default;
$reject-color: $color6            !default;

$inverse-text: $color2            !default; //For white text on dark backgrounds

$top-bar-bgcolor: $color4         !default;

