//Typography Configuration
//-----------------------
$font-size: 16;

$heading-1: 36;
$heading-2: 32;
$heading-3: 28;
$heading-4: 18;
$heading-5: 18;
$heading-6: 18;

$line: $font-size * 1.5;
$small-point-size: 10;
$large-point-size: 14;

$primary-font-family: #{"Chiva", Arial, sans-serif};
$secondary-font-family: #{"Open-Sans", Helvetica, sans-serif};
$heading-font-family: #{"Lato", Arial, sans-serif};
$secondary-heading-font-family: #{"Fjord_One", times, serif};


//Responsive
//-----------------------------
$large-screen-min-width: 30em !default;
//dpi check
$retina-min-dpi: 192dpi !default;

