//Typography Configuration
//-----------------------
$font-size: 16pt;

$heading-1: 36pt;
$heading-2: 32pt;
$heading-3: 28pt;
$heading-4: 18pt;
$heading-5: 18pt;
$heading-6: 18pt;

$line: $font-size * 1.5;
$small-point-size: 10pt;
$large-point-size: 14pt;

$primary-font-family: #{"Chiva", Arial, sans-serif};
$secondary-font-family: #{"Fjord One", serif};
$heading-font-family: #{"Lato", Arial, sans-serif};
$secondary-heading-font-family: #{Helvetica, sans-serif};


//Responsive
//-----------------------------
$large-screen-min-width: 48em !default;
//dpi check
$retina-min-dpi: 192dpi !default;

