//NAV Sections -- some individual classes for items that act like them will need to be added as well

.header-button-mobile
  font-size: $large-point-size
  font-family: $heading-font-family
  text-align: center
  float: right
  position: relative
  top: -2.5em
  right: 1em
  @media screen and (min-width : $large-screen-min-width)
    display: none

.header-button, .header-button-mobile
  color: $accept-color
  &:hover
    color: $accept-color-active

.desktop-nav
  padding: 0.5em 0 0.3em 0
  color: $color2
  .nav-item
    display: none
    @media screen and (min-width : $large-screen-min-width)
      display: block

.nav-flex-container
  @include add-webkit-v(display, flex)
  @include add-webkit-p(flex-direction, row)
  @include add-webkit-p(flex-wrap, wrap)
  @include add-webkit-p(justify-content, space-around)
  @include add-webkit-p(align-items, flex-start)
  @include add-webkit-p(align-content, center)

.nav-item
  @include add-webkit-p(flex, "0, 1, auto")
  // @include add-webkit-p(align-self, auto)
  &:hover
    color: $color5

.mobile-nav
  padding: 0.25em 0 0.25em 0
  position: fixed
  bottom: 0
  width: 100%
  margin-top: 2%
  background-color: $footer-color
  @media screen and (min-width : $large-screen-min-width)
    display: none

.mobile-nav, .desktop-nav
  & li
    font-family: $heading-font-family
    font-size: $small-point-size
    text-align: center
  & p
    font-size: $large-point-size
