
<template name='dog-profile-view.html'>
  <p data-ng-repeat="err in errors" class="icon-warning error">&nbsp;[[err]]</p>
  <!-- Main View of pet profile page -->
  <section class="user-pet-profile" data-ng-show="viewChoice == 'petProfile'">
    <!-- Pet image -->

    <img src='[[mydog.url]]' class="user-pet-pic" data-ng-click='petPhoto()' alt='Dog pic click to upload photo'>
    <!-- Pet info - Name, Age, Sex, Breed -->
    <h3 class="user-pet-info" data-ng-click="petEdit()" ng-hide="!mydog._id">[[mydog.name]], Age:[[mydog.age]], [[mydog.sex]], [[mydog.breed]]</h3>
    <h4 class="user-pet-info" data-ng-click="petEdit()" ng-show="!mydog._id">Click here to create a profile for your dog</h4>
    <!-- Pet Description -->
    <section class="user-pet-description" data-ng-click='petBio()'>
      <p><p data-ng-hide="mydog.bio">Click here to add a description</p>[[mydog.bio]]</p>
    </section>
  </section>

  <!-- Add/Edit Pet Info on Pet Profile View -->
  <section class="pet-edit" data-ng-show="viewChoice == 'petEdit'">
    <section class="pet-edit-console">
      <input autofocus type="text" data-ng-model="mydog.name" placeholder="dog name">
      <input type="number" min="0" data-ng-model="mydog.age" placeholder="age">
      <input type="text" data-ng-model="mydog.breed" placeholder="dog breed">
      <section class="styled-select">
        <select data-ng-model="mydog.sex">
          <option value="" disabled selected>choose sex</option>
          <option value="female" >Female</option>
          <option value="male">Male</option>
        </select>
      </section>
      <section class="btns-wrapper">
        <button data-ng-click="dogData()">Submit</button>
        <button class="cancel" data-ng-click="viewChoice = 'petProfile'; errors = []">Cancel</button>
      </section>
    </section>
  </section>

  <!-- Add/Edit Pet Pic on Pet profile view -->
  <section class="pet-edit" data-ng-show="viewChoice == 'petPhoto'">
    <meteor-include src="imageUpload"></meteor-include>
    <button class="btn-cancel" data-ng-click="viewChoice = 'petProfile'">Done</button>
  </section>

  <!-- Add/Edit Pet Bio on Pet Profile View -->
  <section class="pet-edit" data-ng-show="viewChoice == 'petDescription'">
    <section class="pet-edit-console">
      <textarea autofocus rows="5" maxlength="145" data-ng-model="mydog.bio" class="pet-description" placeholder="Add dog bio here."></textarea>
      <section class="btns-wrapper">
        <button class="btn-confirm" data-ng-click="description(); viewChoice = 'petProfile'">Save</button>
        <button class="cancel" data-ng-click="viewChoice = 'petProfile'">Cancel</button>
      </section>
    </section>
  </section>
</template>

<template name='imageUpload'>
  <img src="{{c.url public_id format=format}}" id="userPetPic" class="user-pet-pic" alt="Image preview...">
  <p class="instruct">First 'Select File' then click 'Upload File'. If your picture doesn't load please click 'Upload File' again.</p>
  <section class="btns-wrapper">
      {{#c_upload_stream callback="save_url"}}
        <input type="file">
      {{/c_upload_stream}}
      
      {{#each c.uploading_images}}
          <p>{{percent_uploaded}}</p>
      {{/each}}
  </section>
</template>