
<template name='dog-profile-view.html'>
  <p data-ng-repeat="err in errors" class="icon-warning error">&nbsp;[[err]]</p>
  <!-- Main View of pet profile page -->
  <section class="user-pet-profile" data-ng-show="viewChoice == 'petProfile'">
    <!-- Pet image -->

    <img src='[[mydog.url]]' class="user-pet-pic" data-ng-click='petPhoto()' alt='Dog pic click to upload photo'>
    <!-- Pet info - Name, Age, Sex, Breed -->
    <h3 class="user-pet-info" data-ng-click="petEdit()" ng-hide="!mydog._id">[[mydog.name]], Age:[[mydog.age]], [[mydog.sex]], [[mydog.breed]]</h3>
    <h3 class="user-pet-info" data-ng-click="petEdit()" ng-show="!mydog._id">Click here to add info about your dog</h3>
    <!-- Pet Description -->
    <section class="user-pet-description" data-ng-click='petBio()'>
      <p>[[mydog.bio]]</p>
    </section>
  </section>

  <!-- Add/Edit Pet Info on Pet Profile View -->
  <section class="pet-edit" data-ng-show="viewChoice == 'petEdit'">
    <section class="pet-edit-console">
      <input autofocus type="text" data-ng-model="mydog.name" placeholder="dog name">
      <input type="number" data-ng-model="mydog.age" placeholder="age">
      <input type="text" data-ng-model="mydog.breed" placeholder="dog breed">
      <section class="styled-select">
        <select data-ng-model="mydog.sex">
          <option value="" disabled selected>choose sex</option>
          <option value="female" >Female</option>
          <option value="male">Male</option>
        </select>
      </section>
      <section class="btns-wrapper">
        <button data-ng-click="dogData()">Submit</button>
        <button class="cancel" data-ng-click="viewChoice = 'petProfile'; errors = []">Cancel</button>
      </section>
    </section>
  </section>

  <!-- Add/Edit Pet Pic on Pet profile view -->
  <section class="pet-edit" data-ng-show="viewChoice == 'petPhoto'">
    <img src='[[mydog.url]]' id="userPetPic" class="user-pet-pic" alt="Image preview...">
    <section class="btns-wrapper">
      <label for="petPicUpload" class="pet-pic-upload clearfix">
        <input type="file" id="petPicUpload" class="btn-pic-upload" value="Upload A Picture" onchange="this.nextElementSibling.textContent =  this.files[0].name">
      {{#c_upload callback="save_url"}}
        {{/c_upload}}
        <!-- Need to find a way to style the button or input to say "upload image" and call type=file -->
        <p>Upload Photo</p>
      </label>
      <button class="btn-confirm" data-ng-click="photoUpload()">Save</button>
      <button class="cancel" data-ng-click="viewChoice = 'petProfile'">Cancel</button>
    </section>
  </section>

  <!-- Add/Edit Pet Bio on Pet Profile View -->
  <section class="pet-edit" data-ng-show="viewChoice == 'petDescription'">
    <section class="pet-edit-console">
      <textarea autofocus rows="5" data-ng-model="mydog.bio" class="pet-description" placeholder="Share a little bit more about your dog."></textarea>
      <section class="btns-wrapper">
        <button class="btn-confirm" data-ng-click="description(); viewChoice = 'petProfile'">Save</button>
        <button class="cancel" data-ng-click="viewChoice = 'petProfile'; mydog.bio = tempBio">Cancel</button>
      </section>
    </section>
  </section>
</template>
