
<template name='edit-dog-info.html'>
<!-- Add/Edit Pet Info on Pet Profile View -->
  <section class="pet-edit">
    <section class="pet-edit-console">
      <input type="text" data-ng-model="Dogs.name" placeholder="Dog Name">
      <input type="number" data-ng-model="Dogs.age" placeholder="4">
      <select type="text" data-ng-model="Dogs.sex">
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select>
      <input type="text" data-ng-model="Dogs.breed" placeholder="Dog breed">
    </section>
  </section>
</template>
