input[type="text"], input[type="password"], input[type="email"], input[type="number"]
  padding:0.5em 0 0.5em 0.3em
  font-size: 1em
  width:100%
  border-radius: .425em

.styled-select
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0
    height: auto
    width: 15em
.styled-select select
    background: transparent
    padding: .25em .5em
    font-size: 1em
    width: 15em
.slate
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center
    width: 15em
select
    -webkit-appearance: none
    -moz-appearance: none
    text-indent: 1px
    text-overflow: ''
