<template name="match-view.html">
  <section class="match-pet-profile">
    <section id="picBox">
      <img src="[[dog.url]]" alt="[[dog.name]]" class="user-pet-pic">
      <h4 class="user-pet-info"> [[dog.name]], Age: [[dog.age]], [[dog.sex]], [[dog.breed]] </h4>
      <p class="match-pet-description">[[dog.bio]]</p>
     <!-- Feature to be reintroduced - button that shows/hides info -->
      <!-- <button class="match-description-btn" ng-click="getMoreInfo()">Info</button> -->
    </section>

    <section class="match-choice">
      <button ng-click="downVote()" class="icon-x yelp-no cancel"></button>
      <button ng-click="upVote()" class="icon-checkmark bark-yes"></button>
    </section>
  </section>
</template>
