<template name='match.html'>
  <h3> Find a new friend</h3>
  <section data-ng-controller='matchCtrl' class="match-pet-profile">
    <section id="picBox" data-ng-init='match()'>
      <img src=[[Images[counter].url]] height="200" width="150" alt='Dogs' class="match-pet-pic">
      <h3 class="match-pet-info"> [[Dogs[counter].name]] [[Dogs[counter].age]] [[Dogs[counter].breed]] </h3>
      <button>Description</button>
      <p class="match-pet-description">Pet Description</p>
    </section>

    <section class="match-choice">
      <button ng-click='No()' class="cancel">No</button>
      <button ng-click='Yes()' class="confirm">Yes</button>
    </section>

  </section>
</template>
