<template name="messages-view.html">
  <section class="message-list">
  <!-- Default message if user has no matches -->
    <h2>Start finding matches</h2>
    <section data-ng-hide="dogs.length">
      You currently have no matches.
    </section>
  <!-- This should be the pattern for the messages modules based on matchId. -->
    <section data-ng-repeat="dog in matchedDogs" class="message">
  <!-- Delete modules on the right of each matchId that will show/hide with AngularJS -->
      <section class="message-delete">
        <p>delelte icon</p>
      </section>
      <section class="message-info">
    <!-- Pet pic, pet info, and date of match will always be in view until deleted -->
        <img src="[[dog.url]]">
        <h4>[[dog.name]], [[dog.age]], [[dog.sex]], [[dog.breed]]</h4>
        <p>Date of match</p>
      </section>
     <!-- This section will be on the left of the pet and match info. This section will show/hide with AngularJS -->
      <section class="message-icon">
        <p>message icon</p>
      </section>
    </section>
  </section>
</template>

