<template name="landing-view.html">
  <p ng-repeat="err in errors" style="icon-warning error">[[err]]</p>
  <section class="landing">
    <section class="landing-info" ng-hide="viewChoice == 'sign-in' || viewChoice == 'sign-up'">
      <h1 tabindex="0" class="landing-title">Welcome to Bone!</h1>
      <p>Bone is for the dogs! Find your dog a match in your area in the style of human dating apps. This isn't necessarily a dog dating app but for finding other dogs in your area to make connections and hang out with. Don't be gross, people.</p>
    </section>

    <section ng-show="viewChoice == 'signed-out'" class="landing-sign">
      <section class="landing-btns">
<!--         <button ng-click="viewChoice = 'facebook'" class="icon-facebook facebook-btn">&nbsp;Facebook</button> -->
        <button ng-click="viewChoice = 'sign-in'">Sign In</button>
        <button ng-click="viewChoice = 'sign-up'">Sign Up</button>
      </section>
    </section>

    <section data-ng-show="viewChoice == 'sign-in'" class="landing-sign">
      <input type="text" placeholder="email" data-ng-model="user.email">
      <input type="password" placeholder="password" data-ng-model="user.password">
      <section class="btns-wrapper">
        <button data-ng-click="signInUser()">Done</button>
        <button class="cancel" data-ng-click="backToLanding()">Cancel</button>
      </section>
    </section>

    <section data-ng-show="viewChoice == 'sign-up'" class="landing-sign">
      <input type="text" placeholder="email" data-ng-model="newUser.email">
      <input type="password" placeholder="password" data-ng-model="newUser.password">
      <input type="password" placeholder="password confirm" data-ng-model="newUser.passwordConfirm">
      <section class="btns-wrapper">
        <button data-ng-click="createUser()">Done</button>
        <button class="cancel" data-ng-click="backToLanding()">Cancel</button>
      </section>
    </section>

    <section data-ng-show="viewChoice == 'signed-in'" class="landing-sign">
      <section class="btns-wrapper">
        <button data-ng-click="signOutUser()">Sign Out</button>
        <button data-ng-click="$scope.viewChoice='edit-pass'">Edit Pass</button>
      </section>
    </section>

    <section data-ng-show="viewChoice == 'edit-pass'" class="landing-sign">
      <input type="text" placeholder="email" data-ng-model="curUser.email">
      <input type="text" placeholder="old password" data-ng-model="curUser.passwordNew">
      <input type="password" placeholder="new password" data-ng-model="curUser.passwordNew">
      <input type="password" placeholder="password confirm" data-ng-model="curUser.passwordConfirm">
      <section class="btns-wrapper">
        <button class="confirm" data-ng-click="updateUser()">Done</button>
        <button class="cancel" data-ng-click="backToLanding()">Cancel</button>
      </section>
    </section>
</section>
</template>
