<template name="landing-view.html">
  <p data-ng-repeat="err in errors" style="icon-warning error">&nbsp;[[err]]</p>
  <section class="landing">
    <section class="landing-info" data-ng-hide="viewChoice == 'sign-in' || viewChoice == 'sign-up' || viewChoice == 'edit-pass'">
      <h1 tabindex="0" class="landing-title">Throw That Dog a Bone!</h1>
      <h4>A Matching App for Dogs</h4>
      <p>Bone is for dogs! Dogs are social animals. Make your dog a social profile and find your dog a match! If the other dog matches you in turn, set up a playdate!</p>
    </section>

    <section data-ng-show="viewChoice == 'signed-out'" class="landing-sign">
      <section class="btns-wrapper">
<!--         <button ng-click="viewChoice = 'facebook'" class="icon-facebook facebook-btn">&nbsp;Facebook</button> -->
        <button data-ng-click="viewChoice = 'sign-in'">Sign In</button>
        <button data-ng-click="viewChoice = 'sign-up'">Sign Up</button>
      </section>
    </section>

    <section data-ng-show="viewChoice == 'sign-in'" class="landing-sign">
      <input type="email" placeholder="email" data-ng-model="user.email">
      <input type="password" placeholder="password" data-ng-model="user.password">
      <section class="btns-wrapper">
        <button data-ng-click="signInUser()">Done</button>
        <button class="cancel" data-ng-click="backToLanding()">Cancel</button>
      </section>
    </section>

    <section data-ng-show="viewChoice == 'sign-up'" class="landing-sign">
      <input type="text" placeholder="email" data-ng-model="newUser.email">
      <input type="password" placeholder="password" data-ng-model="newUser.password">
      <input type="password" placeholder="password confirm" data-ng-model="newUser.passwordConfirm">
      <section class="btns-wrapper">
        <button data-ng-click="createUser()">Done</button>
        <button class="cancel" data-ng-click="backToLanding()">Cancel</button>
      </section>
    </section>

    <section data-ng-show="viewChoice == 'signed-in'" class="landing-sign">
      <p align="center">Signed in as: [[$root.currentUser.emails[0].address]]</p>
      <section class="btns-wrapper">
        <button data-ng-click="toEditPass()">Edit Pass</button>
        <button class="cancel" data-ng-click="signOutUser()">Sign Out</button>
      </section>
    </section>

    <section data-ng-show="viewChoice == 'edit-pass'" class="landing-sign">
      <input disabled type="text" placeholder="email" data-ng-model="curUserEmail">
      <input type="password" placeholder="old password" data-ng-model="curUser.passwordOld">
      <input type="password" placeholder="new password" data-ng-model="curUser.passwordNew">
      <input type="password" placeholder="password confirm" data-ng-model="curUser.passwordConfirm">
      <section class="btns-wrapper">
        <button class="confirm" data-ng-click="editUser()">Done</button>
        <button class="cancel" data-ng-click="backToLanding()">Cancel</button>
      </section>
    </section>
  </section>
</template>
