<template name="landing-view.html">
  <section class="landing">
    <section class="landing-info" ng-hide="viewChoice == 'sign-in' || viewChoice == 'sign-up'">
      <h1 tabindex="0" class="landing-title">Welcome to Bone!</h1>
      <p>Bone is for the dogs! Find your dog a match in your area in the style of human dating apps. This isn't necessarily a dog dating app but for finding other dogs in your area to make connections and hang out with. Don't be gross, people.</p>
      <h3>Join Us</h3>
    </section>

    [[alerts.split()]]
    <section ng-show="viewChoice == 'signed-out'">
      <button ng-click="viewChoice = 'facebook'" class="icon-facebook">&nbsp;Facebook</button>
      <button ng-click="viewChoice = 'sign-in'">Sign In</button>
      <button ng-click="viewChoice = 'sign-up'">Sign Up</button>
    </section>

    <section ng-show="viewChoice == 'sign-in'">
      <input type="text" placeholder="email" ng-model="user.email">
      <input type="password" placeholder="password" ng-model="user.password">
      <button ng-click="backToLanding()">Cancel</button>
      <button ng-click="signInUser()">Done</button>
    </section>

    <section ng-show="viewChoice == 'sign-up'">
      <input type="text" placeholder="email" ng-model="newUser.email">
      <input type="password" placeholder="password" ng-model="newUser.password">
      <input type="password" placeholder="password confirm" ng-model="newUser.passwordConfirm">
      <button ng-click="backToLanding()">Cancel</button>
      <button ng-click="createUser()">Done</button>
    </section>

    <section ng-show="viewChoice == 'signed-in'">
      <button ng-click="signOutUser()">Sign Out</button>
      <button ng-click="$scope.viewChoice='edit-pass'">Edit Pass</button>
    </section>

    <section ng-show="viewChoice == 'edit-pass'">
      <input type="text" placeholder="email" ng-model="curUser.email">
      <input type="text" placeholder="old password" ng-model="curUser.passwordNew">
      <input type="password" placeholder="new password" ng-model="curUser.passwordNew">
      <input type="password" placeholder="password confirm" ng-model="curUser.passwordConfirm">
      <button ng-click="backToLanding()">Cancel</button>
      <button ng-click="updateUser()">Done</button>
    </section>
</section>
</template>
