.landing
  background: url(images/LandingBG_Large.png) no-repeat center center fixed
  padding-bottom: 3em

.landing-info
  text-align: center
  color: $darker-color4
  h1
    padding-top: 0.8em
    padding-bottom: 0.5em
    @media screen and (min-width : $large-screen-min-width)
      padding-top: 1.2em
      padding-bottom: 1em
  h4
    padding-bottom: 0.7em
    @media screen and (min-width : $large-screen-min-width)
      padding-bottom: 1em
  p
    padding-bottom: 1em
    width: 90%
    margin: 0 auto
    @media screen and (min-width : $large-screen-min-width)
      padding-bottom: 1.6em
      width: 70%

.landing-title
  letter-spacing: -0.03em
  font-weight: bold

.landing-sign
  padding: 1.5%
  input
    width: 90%
    margin: 5% 0 0 5%
    &:first-of-type
      margin-top: 3%
    @media screen and (min-width : $large-screen-min-width)
      width: 60%
      margin-left: 20%

