.landing-info
  padding: 0.1em
  p
    padding: 0.5em
    text-align: center

.landing-title
  padding: 0.3em
  text-align: center
  padding-bottom: 0.2em

.landing-sign
  padding: 1.5%
  input
    width: 90%
    margin: 5% 0 0 5%
    &:first-of-type
      margin-top: 3%
    @media screen and (min-width : $large-screen-min-width)
      width: 60%
      margin-left: 20%

