.match-pet-profile
  width: 100%
  &:first-child
    margin-top: 1em
    @media screen and (min-width : $large-screen-min-width)
      margin-top: 1.5em
  .user-pet-info
    text-align: center

.match-pet-description
  width: 80%
  margin: 0 10% 0 10%
  text-align: center
  padding-bottom: 2%
  overflow: auto

.match-choice
  width: 80%
  margin: 0.5em auto
  @include add-webkit-v(display, flex)
  @include add-webkit-p(flex-direction, row)
  @include add-webkit-p(flex-wrap, wrap)
  @include add-webkit-p(justify-content, space-around)
  @include add-webkit-p(align-items, center)
  @include add-webkit-p(align-content, center)
  // @media screen and (min-width : $large-screen-min-width)

.bark-yes, .yelp-no
  // @include add-webkit-p(flex, "0, 1")
  width: 40%
  // @include add-webkit-p(flex-basis, 12em)



