.message
  width: 90%
  @include add-webkit-v(display, flex)
  text-align: center
  margin: 5% auto
  border: .0625em solid $color7
  padding: 1% 0

.message-info
  width: 70%
  @include add-webkit-v(display, flex)
  border-left: .0625em solid $color7
  border-right: .0625em solid $color7
  img
    background-color: $color1
    margin-right: 2%
    max-width: 6em
    margin-left: 5%
  h4, p
    color: $color7
    text-transform: uppercase
    text-align: left
    padding-left: 2%
  h4
    font-size: 1em
    padding-bottom: 3%
  p
    padding-left: 2%
    font-size: .5em

.portrait
  position: relative
  width: 6em
  height: 6em
  overflow: hidden
  img
    position: absolute
    left: 50%
    top: 50%
    height: 100%
    width: auto
    -webkit-transform: translate(-50%,-50%)
        -ms-transform: translate(-50%,-50%)
            transform: translate(-50%,-50%)
.portrait-image
  width: 100%
  height: auto


.match-labels
  @include add-webkit-p(flex-direction, column)

.message-delete
  width: 10%
  margin: auto auto
  color: $color6
  &:hover
    color: $lighter2-color6

.message-icon
  width: 10%
  margin: auto auto
  color: $lighter-color5
  &:hover
    color: $darker-color5
