.message
  width: 90%
  @include add-webkit-v(display, flex)
  text-align: center
  margin: 5% auto

.message-info
  width: 70%

.message-info img
  height: 2em
  background-color: $color1
  margin-right: 2%


.message-info h4
  color: $color7
  text-transform: uppercase
  text-align: left
  font-size: 1em
  padding-left: 2%

.message-info p
  color: $color7
  text-transform: uppercase
  text-align: left
  font-size: .5em

.message-delete
  width: 10%

.message-icon
  width: 10%







