.user-pet-profile
  width: 100%
  &:first-child
    margin-top: 1em

.user-pet-pic
  width: 80%
  border: .125em solid $color7
  max-width: 15em
  max-height: 40em
  background-color: $color1
  margin: 0.3em auto 0

.user-pet-info
  width: 80%
  color: $color7
  margin: 0.8em auto
  text-transform: uppercase
  text-align: left
  @media screen and (min-width : $large-screen-min-width)
    text-align: center

.user-pet-description
  width: 80%
  border: .125em solid $color7
  background-color: $color1
  border-radius: .5em
  margin: 2% auto
  overflow: auto
  padding-left: .5em
  @media screen and (min-width : $large-screen-min-width)
    width: 60%
    margin: 0.8em auto

.user-pet-description p
  padding: .25em

.pet-edit-console textarea
  font-size: 1em
  width: 90%
  margin: 5% 0 1% 5%

//Input and Select Styling
.styled-select, select.styled-select
  width: 80%
  margin: 1em 0 0.5em 10%
  background-color: $color1
  @media screen and (min-width : $large-screen-min-width)
    width: 50%
    margin-left: 25%

.pet-edit
  padding: 0.5em
  input
    width: 80%
    margin: 1em 0 0 10%
    &:first-of-type
      margin-top: 1em
    @media screen and (min-width : $large-screen-min-width)
      width: 50%
      margin-left: 25%

.pet-pic-upload
  input[type="file"]
    display:none

.instruct
  font-size: .625em
  width: 40%
  margin: .5% auto



