.user-pet-profile
  width: 100%

.user-pet-pic
  width: 80%
  border: .125em solid $color7
  max-width: 15em
  max-height: 40em
  background-color: $color1
  margin: 5% auto 0

.user-pet-info
  width: 80%
  color: $color7
  margin: 2% auto
  text-transform: uppercase
  text-align: left
  @media screen and (min-width : $large-screen-min-width)
    text-align: center

.user-pet-description
  width: 80%
  border: .125em solid $color7
  background-color: $color1
  border-radius: .5em
  margin: 2% auto

.user-pet-description p
  padding: .625em

.pet-edit-console textarea
  font-size: 1em
  width: 90%
  margin: 5% 0 1% 5%

//Input and Select Styling
.styled-select, select.styled-select
  width: 90%
  margin: 5% 0 1% 5%
  background-color: $color1
  @media screen and (min-width : $large-screen-min-width)
    width: 60%
    margin-left: 20%

.pet-edit
  padding: 1.5%
  input
    width: 90%
    margin: 5% 0 0 5%
    &:first-of-type
      margin-top: 3%
    @media screen and (min-width : $large-screen-min-width)
      width: 60%
      margin-left: 20%

.pet-pic-upload
  input[type="file"]
    display:none

